<div class="sitename">
  <div class="container">
    <a href="/helpers">く〜ら</a>
  </div>
</div>

<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
   <div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        <li><a href="/helpers">一覧へ</a></li>
        <li><a href="/helpers">マイページ</a></li>
        <li><%= link_to "ログアウト",  destroy_worker_session_path, method: :delete %></li>
    </ul>
   </div>
  </div>
 </div>