@import "bootstrap-sprockets";
@import "bootstrap";

.sitename{
margin:15px 0 15px;
}
.sitename a{
font-size: 28px;
color: #00BFFF;
text-decoration: none;

}

// i{
// font-size: 1.3em;
// color: inherit;
// }

.navbar .navbar-inner {
padding: 0;
}

.navbar .nav {
margin: 0;
display: table;
width: 100%;
}

.navbar .nav li {
display: table-cell;
float: none;
}

.navbar .nav li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255, 255, 255, .75);
border-right: 1px solid rgba(0, 0, 0, .1);
color: #00BFFF;
}

.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}

.content {
	background-color: white;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 20px;

	.moji {
		font-size: 20px;
		margin-top: 20px;
	}

	.shousai {
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 120px;
	}
}


.contenta {
	background-color: white;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 20px;


.mojia {
	font-size: 20px;
    margin-top: 20px;
  }

  .mojian {
  	font-size: 20px;
  	margin-top: 20px;
    margin-bottom: 120px;
  }

  .form {
  	margin-bottom: 360px;

  .fm {
  	margin-top: 50px;
  }
  }
}

.keisai {
	text-align: center;

	h3 {
		margin-top: 50px;
	}

 .btn {
 	margin-top: 50px;
 	font-size: 20px;
 }
}



















